 <div id="a" class="tab-pane fade in">
        <div class="table-responsive">
            <div class="alert alert-danger">
        <h3 class="click"><a href="" target="_blank"><kbd>Group A</kbd></a></h3>
         <div class="alert alert-info alert-dismissable">
     <a class="close show" data-dismiss="alert" href="#"></a>Russia can't afford to be knocked out early, and this group could be worse for them. <br>

Egypt pose the main danger to the hosts and Uruguay. It may be their first World Cup since 1990, but star player Mo Salah was irresistible in qualifying. <br>

Saudi Arabia have the honour of playing in the opening game against Russia, but Asian confederation teams are traditionally the weakest. <br>
 </div>
      
      <table class="table table-striped show" id="t01">
        <thead>
        <tr>
          <th>TEAM</th>
          <th>Flag</th>
          <th>Pts</th>
          <th>Win</th>
          <th>Draw</th>
          <th>Loss</th>
          <th>GF</th>
          <th>GA</th>
        </tr>
        </thead>
        <tbody>
          <tr>
          <td>Uruguay</td>
          <td><img src="http://flaglane.com/download/uruguayan-flag/uruguayan-flag-small.jpg" ></td>
          <td>9</td>
          <td>3</td>
          <td>0</td>
          <td>0</td>
          <td>5</td>
          <td>0</td>
        </tr>
         <tr>
          <td>RUSSIA</td>
          <td><img src="http://flaglane.com/download/russian-flag/russian-flag-small.jpg" ></td>
          <td>6</td>
          <td>2</td>
          <td>0</td>
          <td>1</td>
          <td>8</td>
          <td>-4</td>
        </tr>
        <tr>
          <td>Saudi Arabia</td>
          <td><img src="http://flaglane.com/download/saudi-arabian-flag/saudi-arabian-flag-small.jpg" ></td>
          <td>3</td>
          <td>1</td>
          <td>0</td>
          <td>2</td>
          <td>2</td>
          <td>-7</td>
        </tr>
        <tr>
          <td>Egypt</td>
          <td><img src="http://flaglane.com/download/egyptian-flag/egyptian-flag-small.jpg" ></td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>3</td>
          <td>2</td>
          <td>-6</td>
        </tr>
        </tbody>
      </table> 
      </div>
        </div>
    </div>
  
    <div id="am" class="tab-pane fade in">
        
        <table align="center" border="1">
    <tr id="tr1">
     <th>Date</th>
     <th>Time</th>
     <th>Team</th>
     <th>VS</th>
     <th>Team</th>
     </tr>
     
   <tr>
         <td><del>14/6</del></td>
         <td><del>18:00</del></td>
         <td><del>Russia</del></td>
         <td><del>VS</del></td>
         <td><del>Saudi Arabia</del></td>
     </tr> 
  
  <tr>
     <td><del>15/6</del></td>
     <td><del>15:00</del></td>
     <td><del>Egypt</del></td>
     <td><del>VS</del></td>
     <td><del>Uruguay</del></td>
     </tr> 
     
   <tr>
     <td><del>19/6</del></td>
     <td><del>21:00</del></td>
     <td><del>Russia</del></td>
     <td><del>VS</del></td>
     <td><del>Egypt</del></td>
     </tr> 
 <tr>
     <td><del>20/6</del></td>
     <td><del>18:00</del></td>
     <td><del>Uruguay</del></td>
     <td><del>VS</del></td>
     <td><del>Saudi Arabia</del></td>
     </tr>
     
 <tr>
     <td><del>25/6</del></td>
     <td><del>17:00</del></td>
     <td><del>Uruguay</del></td>
     <td class="vs"><del>VS</del></td>
     <td><del>Russia</del></td>
     </tr>        
    <tr>
     <td><del>25/6</del></td>
     <td><del>17:00</del></td>
     <td><del>Saudi Arabia</del></td>
     <td class="vs"><del>VS</del></td>
     <td><del>Egypt</del></td>
     </tr>
     
</table>
</div>
        <!-- Group B -->
    <div id="b" class="tab-pane fade in">
        <div class="table-responsive">
            <div class="alert alert-danger">
            <h3 class="click"><a href="" target="_blank"><kbd>Group B</kbd></a></h3>
            <div class="alert alert-info alert-dismissable">
     <a class="close" data-dismiss="alert" href="#"></a>An intriguing looking match between Portugal and Spain beckons because of the quirk of 2010 winners Spain, ranked 8 in the world, being nudged out of the top seeds by hosts Russia.<br>

But despite Morocco's ability, don't be fooled into thinking this is the pick of the groups. In fact, Portugal and Spain should both expect to progress.<br>
 </div>
      
      <table class="table table-striped" id="t02">
        <thead>
        <tr>
          <th>TEAM</th>
          <th>Flag</th>
          <th>Pts</th>
          <th>Win</th>
          <th>Draw</th>
          <th>Loss</th>
          <th>GF</th>
          <th>GA</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>SPAIN</td>
          <td><img src="http://flaglane.com/download/spanish-flag/spanish-flag-small.jpg"></td>
          <td>5</td>
          <td>1</td>
          <td>2</td>
          <td>0</td>
          <td>6</td>
          <td>-5</td>
        </tr>
        <tr>
          <td>Portugal</td>
          <td><img src="http://flaglane.com/download/portuguese-flag/portuguese-flag-small.jpg"></td>
          <td>5</td>
          <td>1</td>
          <td>2</td>
          <td>0</td>
          <td>5</td>
          <td>-4</td>
        </tr>
        <tr>
          <td>IR Iran</td>
          <td><img src="http://flaglane.com/download/iranian-flag/iranian-flag-small.jpg "></td>
          <td>4</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>2</td>
          <td>-2</td>
        </tr>
         <tr>
          <td>Morocco</td>
          <td><img src="http://flaglane.com/download/moroccan-flag/moroccan-flag-small.jpg" ></td>
          <td>1</td>
          <td>0</td>
          <td>1</td>
          <td>2</td>
          <td>2</td>
          <td>-4</td>
        </tr>
        </tbody>
      </table> 
      </div>
        </div>
    </div>
     <div id="bm" class="tab-pane fade in">
        <table align="center" border="1">
    <tr id="tr1">
     <th>Date</th>
     <th>Time</th>
     <th>Team</th>
     <th>VS</th>
     <th>Team</th>
     </tr>
     
     <tr>
         <td><del>15/6</del></td>
         <td><del>18:00</del></td>
         <td><del>Morocco</del></td>
         <td><del>VS</del></td>
         <td><del>IR Iran</del></td>
     </tr>
  
  <tr>
     <td><del>15/6</del></td>
     <td><del>21:00</del></td>
     <td><del>Portugal</del></td>
     <td><del>VS</del></td>
     <td><del>Spain</del></td>
     </tr> 
     
   <tr>
     <td><del>20/6</del></td>
     <td><del>15:00</del></td>
     <td><del>Portugal</del></td>
     <td><del>VS</del></td>
     <td><del>Morocco</del></td>
     </tr> 
 <tr>
     <td><del>20/6</del></td>
     <td><del>21:00</del></td>
     <td><del>IR Iran</del></td>
     <td><del>VS</del></td>
     <td><del>Spain</del></td>
     </tr>
     
 <tr>
     <td><del>25/6</del></td>
     <td><del>21:00</del></td>
     <td><del>Spain</del></td>
     <td class="vs"><del>VS</del></td>
     <td><del>Morocco</del></td>
     </tr>        
    <tr>
     <td><del>25/6</del></td>
     <td><del>21:00</del></td>
     <td><del>IR Iran</del></td>
     <td class="vs"><del>VS</del></td>
     <td><del>Portugal</del></td>
     </tr>
     
</table>
</div>
        <!-- Group C -->
    <div id="c" class="tab-pane fade in">
        <div class="table-responsive">
            <div class="alert alert-danger">
            <h3 class="click"><a href="" target="_blank"><kbd>Group C</kbd></a></h3>
      <div class="alert alert-info alert-dismissable">
     <a class="close" data-dismiss="alert" href="#"></a>France are the clear favourites to win the group comfortably, but Denmark's late surge into form makes them a real threat. Australia should never be underestimated after another epic qualification campaign.<br>
Peru, playing in their first World Cup for 36 years, would be much more of a threat if the tournament was played in Brazil.<br>
 </div>
      
      <table class="table table-striped" id="t03">
        <thead>
        <tr>
          <th>TEAM</th>
          <th>Flag</th>
          <th>Pts</th>
          <th>Win</th>
          <th>Draw</th>
          <th>Loss</th>
          <th>GF</th>
          <th>GA</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>FRANCE</td>
          <td><img src="http://flaglane.com/download/french-flag/french-flag-small.jpg"></td>
          <td>7</td>
          <td>2</td>
          <td>1</td>
          <td>0</td>
          <td>3</td>
          <td>-1</td>
        </tr>
          <tr>
          <td>DENMARK</td>
          <td><img src="http://flaglane.com/download/dane-flag/dane-flag-small.jpg"></td>
          <td>5</td>
          <td>1</td>
          <td>2</td>
          <td>0</td>
          <td>2</td>
          <td>1</td>
        </tr>
        <tr>
          <td>PERU</td>
          <td><img src="http://flaglane.com/download/peruvian-flag/peruvian-flag-small.jpg"></td>
          <td>3</td>
          <td>1</td>
          <td>0</td>
          <td>2</td>
          <td>2</td>
          <td>-2</td>
        </tr>
        <tr>
          <td>AUSTRALIA</td>
          <td><img src="http://flaglane.com/download/australian-flag/australian-flag-small.jpg"></td>
          <td>1</td>
          <td>0</td>
          <td>1</td>
          <td>2</td>
          <td>2</td>
          <td>-5</td>
        </tr>
        </tbody>
      </table> 
      </div>
        </div>
    </div>
     <div id="cm" class="tab-pane fade in">
        <table align="center" border="1">
    <tr id="tr1">
     <th>Date</th>
     <th>Time</th>
     <th>Team</th>
     <th>VS</th>
     <th>Team</th>
     </tr>
     
     <tr>
         <td><del>16/6</del></td>
         <td><del>13:00</del></td>
         <td><del>France</del></td>
         <td><del>VS</del></td>
         <td><del>Australia</del></td>
     </tr>
  
  <tr>
     <td><del>16/6</del></td>
     <td><del>19:00</del></td>
     <td><del>Peru</del></td>
     <td><del>VS</del></td>
     <td><del>Denmark</del></td>
     </tr> 
     
   <tr>
     <td><del>21/6</del></td>
     <td><del>15:00</del></td>
     <td><del>Denmark</del></td>
     <td><del>VS</del></td>
     <td><del>Australia</del></td>
     </tr> 
 <tr>
     <td><del>21/6</del></td>
     <td><del>18:00</del></td>
     <td><del>France</del></td>
     <td><del>VS</del></td>
     <td><del>Peru</del></td>
     </tr>
     
 <tr>
     <td><del>26/6</del></td>
     <td><del>17:00</del></td>
     <td><del>Australia</del></td>
     <td class="vs"><del>VS</del></td>
     <td><del>Peru</del></td>
     </tr>        
    <tr>
     <td><del>26/6</del></td>
     <td><del>17:00</del></td>
     <td><del>Denmark</del></td>
     <td class="vs"><del>VS</del></td>
     <td><del>France</del></td>
     </tr>
     
</table>
</div>
        <!-- Group D -->
    <div id="d" class="tab-pane fade in">
        <div class="table">
            <div class="alert alert-danger">
            <h3 class="click"><a href="" target="_blank"><kbd>Group D</kbd></a></h3>
       <div class="alert alert-info alert-dismissable">
     <a class="close" data-dismiss="alert" href="#"></a>As if the Iceland fairy tale hadn't brought enough joy, their first ever World Cup will be against Argentina in Moscow.<br>

They will receive global support, but shouldn't be expected to succeed. The smallest ever nation to qualify has already performed miracles.<br>

With resurgent Nigeria - who have had to face Argentina in FIVE World Cups - and gifted Croatia completing the quartet, this is undoubtedly a strong group.<br>
 </div>
      <table class="table table-striped" id="t04">
        <thead>
        <tr>
          <th>TEAM</th>
          <th>Flag</th>
          <th>Pts</th>
          <th>Win</th>
          <th>Draw</th>
          <th>Loss</th>
          <th>GF</th>
          <th>GA</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Croatia</td>
          <td><img src="http://flaglane.com/download/croatian-flag/croatian-flag-small.jpg"></td>
          <td>6</td>
          <td>2</td>
          <td>0</td>
          <td>0</td>
          <td>5</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Argentina</td>
          <td><img src="http://flaglane.com/download/argentinian-flag/argentinian-flag-small.jpg"></td>
          <td>1</td>
          <td>0</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>-4</td>
        </tr>
        <tr>
          <td>Iceland</td>
          <td><img src="http://flaglane.com/download/icelander-flag/icelander-flag-small.jpg"></td>
          <td>1</td>
          <td>0</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>-3</td>
        </tr>
        <tr>
          <td>Nigeria</td>
          <td><img src="http://flaglane.com/download/nigerian-flag/nigerian-flag-small.jpg"></td>
          <td>3</td>
          <td>1</td>
          <td>0</td>
          <td>1</td>
          <td>2</td>
          <td>-2</td>
        </tr>
        </tbody>
      </table>
      </div>
        </div>
    </div>
     <div id="dm" class="tab-pane fade in">
        <table align="center" border="1">
    <tr id="tr1">
     <th>Date</th>
     <th>Time</th>
     <th>Team</th>
     <th>VS</th>
     <th>Team</th>
     </tr>
     
     <tr>
         <td><del>16/6</del></td>
         <td><del>16:00</del></td>
         <td><del>Argentina</del></td>
         <td><del>VS</del></td>
         <td><del>Iceland</del></td>
     </tr>
  
  <tr>
     <td><del>16/6</del></td>
     <td><del>22:00</del></td>
     <td><del>Croatia</del></td>
     <td><del>VS</del></td>
     <td><del>Nigeria</del></td>
     </tr> 
     
   <tr>
     <td><del>21/6</del></td>
     <td><del>21:00</del></td>
     <td><del>Argentina</del></td>
     <td><del>VS</del></td>
     <td><del>Croatia</del></td>
     </tr> 
 <tr>
     <td><del>22/6</del></td>
     <td><del>18:00</del></td>
     <td><del>Nigeria</del></td>
     <td><del>VS</del></td>
     <td><del>Iceland</del></td>
     </tr>
     
 <tr>
     <td>26/6</td>
     <td>21:00</td>
     <td>Nigeria</td>
     <td class="vs">VS</td>
     <td>Argentina</td>
     </tr>        
    <tr>
     <td>26/6</td>
     <td>21:00</td>
     <td>Iceland</td>
     <td class="vs">VS</td>
     <td>Croatia</td>
     </tr>
     
</table>
</div>
        <!-- Group E -->
    <div id="e" class="tab-pane fade in">
        <div class="table">
            <div class="alert alert-danger">
            <h3 class="click"><a href="" target="_blank"><kbd>Group E</kbd></a></h3>
       <div class="alert alert-info alert-dismissable">
     <a class="close" data-dismiss="alert" href="#"></a>After their 2014 humiliation, Brazil's recovery has been impressive enough for many people to make them favourites for the tournament.<br>

It could amount to a scrap between three underrated teams for a place in the knockout stages.<br>

Serbia were the team to avoid of Pot 4. And don't forget Costa Rica were quarter-finalists four years ago.<br>
 </div>
      <table class="table table-striped" id="t05">
        <thead>
        <tr>
          <th>TEAM</th>
          <th>Flag</th>
          <th>Pts</th>
          <th>Win</th>
          <th>Draw</th>
          <th>Loss</th>
          <th>GF</th>
          <th>GA</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Brazil</td>
          <td><img src="http://flaglane.com/download/brazilian-flag/brazilian-flag-small.jpg"></td>
          <td>4</td>
          <td>1</td>
          <td>1</td>
          <td>0</td>
          <td>3</td>
          <td>-1</td>
        </tr>
        <tr>
          <td>Switzerland</td>
          <td><img src="http://flaglane.com/download/swiss-flag/swiss-flag-small.jpg"></td>
          <td>4</td>
          <td>4</td>
          <td>1</td>
          <td>0</td>
          <td>3</td>
          <td>-2</td>
        </tr>
        <tr>
          <td>Costa Rica</td>
          <td><img src="http://flaglane.com/download/costa-rican-flag/costa-rican-flag-small.jpg"></td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>2</td>
          <td>0</td>
          <td>-3</td>
        </tr>
        <tr>
          <td>Serbia</td>
          <td><img src="http://flaglane.com/download/serbian-flag/serbian-flag-small.jpg"></td>
          <td>3</td>
          <td>1</td>
          <td>0</td>
          <td>1</td>
          <td>2</td>
          <td>-2</td>
        </tr>
        </tbody>
      </table> 
      </div>
        </div>
    </div>
     <div id="em" class="tab-pane fade in">
        <table align="center" border="1">
    <tr id="tr1">
     <th>Date</th>
     <th>Time</th>
     <th>Team</th>
     <th>VS</th>
     <th>Team</th>
     </tr>
     
     <tr>
         <td><del>17/6</del></td>
         <td><del>15:00</del></td>
         <td><del>Costa Rica</del></td>
         <td><del>VS</del></td>
         <td><del>Serbia</del></td>
     </tr>
  
  <tr>
     <td><del>17/6</del></td>
     <td><del>21:00</del></td>
     <td><del>Brazil</del></td>
     <td><del>VS</del></td>
     <td><del>Switzerland</del></td>
     </tr> 
     
   <tr>
     <td><del>22/6</del></td>
     <td><del>15:00</del></td>
     <td><del>Brazil</del></td>
     <td><del>VS</del></td>
     <td><del>Costa Rica</del></td>
     </tr> 
 <tr>
     <td><del>22/6</del></td>
     <td><del>21:00</del></td>
     <td><del>Serbia</del></td>
     <td><del>VS</del></td>
     <td><del>Switzerland</del></td>
     </tr>
     
 <tr>
     <td>27/6</td>
     <td>21:00</td>
     <td>Serbia</td>
     <td class="vs">VS</td>
     <td>Brazil</td>
     </tr>        
    <tr>
     <td>27/6</td>
     <td>21:00</td>
     <td>Switzerland</td>
     <td class="vs">VS</td>
     <td>Costa Rica</td>
     </tr>
     
</table>
</div>
        <!-- Group F -->
    <div id="f" class="tab-pane fade in">
        <div class="table">
            <div class="alert alert-danger">
            <h3 class="click"><a href="" target="_blank"><kbd>Group F</kbd></a></h3>
       <div class="alert alert-info alert-dismissable">
     <a class="close" data-dismiss="alert" href="#"></a>Germany hardly got a mention in the immediate post-draw analysis, but that's just the way they like it. Low-key - and usually there at the finish.<br>

The trophy holders should be expected to reach the knockout stages without too much trouble.<br>

Mexico and Sweden can be talked up, neither are easy opponents, but it could be an opportunity for Korea to finally perform like they did in 2002 outside of their own country.<br>
 </div>
      <table class="table table-striped" id="t06">
        <thead>
        <tr>
          <th>TEAM</th>
          <th>Flag</th>
          <th>Pts</th>
          <th>Win</th>
          <th>Draw</th>
          <th>Loss</th>
          <th>GF</th>
          <th>GA</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Germany</td>
          <td><img src="http://flaglane.com/download/german-flag/german-flag-small.jpg"></td>
          <td>3</td>
          <td>1</td>
          <td>0</td>
          <td>1</td>
          <td>2</td>
          <td>-2</td>
        </tr>
        <tr>
          <td>Mexico</td>
          <td><img src="http://flaglane.com/download/mexican-flag/mexican-flag-small.jpg"></td>
          <td>6</td>
          <td>2</td>
          <td>0</td>
          <td>0</td>
          <td>3</td>
          <td>-1</td>
        </tr>
        <tr>
          <td>Sweden</td>
          <td><img src="http://flaglane.com/download/swedish-flag/swedish-flag-small.jpg"></td>
          <td>3</td>
          <td>1</td>
          <td>0</td>
          <td>1</td>
          <td>2</td>
          <td>-2</td>
        </tr>
        <tr>
          <td>Korea Republic</td>
          <td><img src="http://flaglane.com/download/south-korean-flag/south-korean-flag-small.jpg"></td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>2</td>
          <td>1</td>
          <td>-3</td>
        </tr>
        </tbody>
      </table> 
      </div>
        </div>
    </div>
     <div id="fm" class="tab-pane fade in">
        <table align="center" border="1">
    <tr id="tr1">
     <th>Date</th>
     <th>Time</th>
     <th>Team</th>
     <th>VS</th>
     <th>Team</th>
     </tr>
     
     <tr>
         <td><del>17/6</del></td>
         <td><del>18:00</del></td>
         <td><del>Germany</del></td>
         <td><del>VS</del></td>
         <td><del>Mexico</del></td>
     </tr>
  
  <tr>
     <td><del>18/6</del></td>
     <td><del>15:00</del></td>
     <td><del>Sweden</del></td>
     <td><del>VS</del></td>
     <td><del>Korea Republic</del></td>
     </tr> 
     
   <tr>
     <td><del>23/6</del></td>
     <td><del>18:00</del></td>
     <td><del>Korea Republic</del></td>
     <td><del>VS</del></td>
     <td><del>Mexico</del></td>
     </tr> 
 <tr>
     <td><del>23/6</del></td>
     <td><del>21:00</del></td>
     <td><del>Ger/many</del></td>
     <td><del>VS</del></td>
     <td><del>Sweden</del></td>
     </tr>
     
 <tr>
     <td>27/6</td>
     <td>17:00</td>
     <td>Korea Republic</td>
     <td class="vs">VS</td>
     <td>Germany</td>
     </tr>        
    <tr>
     <td>27/6</td>
     <td>17:00</td>
     <td>Mexico</td>
     <td class="vs">VS</td>
     <td>Sweden</td>
     </tr>
     
</table>
</div>
        <!-- Group G -->
    <div id="g" class="tab-pane fade in">
        <div class="table">
            <div class="alert alert-danger">
            <h3 class="click"><a href="" target="_blank"><kbd>Group G</kbd></a></h3>
      <div class="alert alert-info alert-dismissable">
     <a class="close" data-dismiss="alert" href="#"></a>June 18 in Sochi will be an historic and wonderful day for Panama - their first ever World Cup game, against a talented Belgium team.<br>

The two European teams will be expected to qualify from this one.<br>

But in 1978 Tunisia became the first African team to ever win a World Cup match, and can certainly win points in this group.<br>
 </div>
      <table class="table table-striped" id="t07">
        <thead>
        <tr>
          <th>TEAM</th>
          <th>Flag</th>
          <th>Pts</th>
          <th>Win</th>
          <th>Draw</th>
          <th>Loss</th>
          <th>GF</th>
          <th>GA</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Belgium</td>
          <td><img src="http://flaglane.com/download/belgian-flag/belgian-flag-small.jpg"></td>
          <td>3</td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
          <td>3</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Panama</td>
          <td><img src="http://flaglane.com/download/panamanian-flag/panamanian-flag-small.jpg"></td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>1</td>
          <td>0</td>
          <td>-3</td>
        </tr>
        <tr>
          <td>Tunisia</td>
          <td><img src="http://flaglane.com/download/tunisian-flag/tunisian-flag-small.jpg"></td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>1</td>
          <td>1</td>
          <td>-2</td>
        </tr>
        <tr>
          <td>England</td>
          <td><img src="http://flaglane.com/download/english-flag/english-flag-small.jpg"></td>
          <td>3</td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
          <td>2</td>
          <td>-1</td>
        </tr>
        </tbody>
      </table> 
      </div>
        </div>
    </div>
     <div id="gm" class="tab-pane fade in">
        <table align="center" border="1">
    <tr id="tr1">
     <th>Date</th>
     <th>Time</th>
     <th>Team</th>
     <th>VS</th>
     <th>Team</th>
     </tr>
     
     <tr>
         <td><del>18/6</del></td>
         <td><del>18:00</del></td>
         <td><del>Belgium</del></td>
         <td><del>VS</del></td>
         <td><del>Panama</del></td>
     </tr>
  
  <tr>
     <td><del>18/6</del></td>
     <td><del>21:00</del></td>
     <td><del>Tunisia</del></td>
     <td><del>VS</del></td>
     <td><del>England</del></td>
     </tr> 
     
   <tr>
     <td>23/6</td>
     <td>15:00</td>
     <td>Belgium</td>
     <td>VS</td>
     <td>Tunisia</td>
     </tr> 
 <tr>
     <td>24/6</td>
     <td>15:00</td>
     <td>England</td>
     <td>VS</td>
     <td>Panama</td>
     </tr>
     
 <tr>
     <td>28/6</td>
     <td>21:00</td>
     <td>England</td>
     <td class="vs">VS</td>
     <td>Belgium</td>
     </tr>        
    <tr>
     <td>28/6</td>
     <td>21:00</td>
     <td>Panama</td>
     <td class="vs">VS</td>
     <td>Tunisia</td>
     </tr>
     
</table>
</div>
        <!-- Group H -->
    <div id="h" class="tab-pane fade in">
        <div class="table">
            <div class="alert alert-danger">
            <h3 class="click"><a href="" target="_blank"><kbd>Group H</kbd></a></h3>
      <div class="alert alert-info alert-dismissable">
     <a class="close" data-dismiss="alert" href="#"></a>The last and arguably the most open of all eight groups. Senegal's exploits in 2002 are unforgettable, and their team is strong again.<br>

Poland earned a top seeding with a ranking of six in the world, but despite their considerable talent Colombia often struggle away from South America.<br>

It could be an entertaining, close group in what was an intriguing draw.<br>
 </div>
      <table class="table table-striped" id="t08">
        <thead>
        <tr>
          <th>TEAM</th>
          <th>Flag</th>
          <th>Pts</th>
          <th>Win</th>
          <th>Draw</th>
          <th>Loss</th>
          <th>GF</th>
          <th>GA</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Poland</td>
          <td><img src="http://flaglane.com/download/polish-flag/polish-flag-small.jpg"></td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>1</td>
          <td>1</td>
          <td>-2</td>
        </tr>
        <tr>
          <td>Senegal</td>
          <td><img src="http://flaglane.com/download/senegalese-flag/senegalese-flag-small.jpg"></td>
          <td>3</td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
          <td>2</td>
          <td>-1</td>
        </tr>
        <tr>
          <td>Colombia</td>
          <td><img src="http://flaglane.com/download/colombian-flag/colombian-flag-small.jpg"></td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>1</td>
          <td>1</td>
          <td>-2</td>
        </tr>
        <tr>
          <td>Japan</td>
          <td><img src="http://flaglane.com/download/japanese-flag/japanese-flag-small.jpg"></td>
          <td>3</td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
          <td>2</td>
          <td>-1</td>
        </tr>
        </tbody>
      </table> 
      </div>
        </div>
    </div>
     <div id="hm" class="tab-pane fade in">
        <table align="center" border="1">
    <tr id="tr1">
     <th>Date</th>
     <th>Time</th>
     <th>Team</th>
     <th>VS</th>
     <th>Team</th>
     </tr>
     
     <tr>
         <td><del>19/6</del></td>
         <td><del>15:00</del></td>
         <td><del>Colombia</del></td>
         <td><del>VS</del></td>
         <td><del>Japan</del></td>
     </tr>
  
  <tr>
     <td><del>19/6</del></td>
     <td><del>18:00</del></td>
     <td><del>Poland</del></td>
     <td><del>VS</del></td>
     <td><del>Senegal</del></td>
     </tr> 
     
   <tr>
     <td>24/6</td>
     <td>18:00</td>
     <td>Japan</td>
     <td>VS</td>
     <td>Senegal</td>
     </tr> 
 <tr>
     <td>24/6</td>
     <td>21:00</td>
     <td>Poland</td>
     <td>VS</td>
     <td>Colombia</td>
     </tr>
     
 <tr>
     <td>28/6</td>
     <td>17:00</td>
     <td>Japan</td>
     <td class="vs">VS</td>
     <td>Poland</td>
     </tr>        
    <tr>
     <td>28/6</td>
     <td>17:00</td>
     <td>Senegal</td>
     <td class="vs">VS</td>
     <td>Colombia</td>
     </tr>
     
</table>
</div>