<div class="stadiums" id="stadiums">
    <div class="stadiumsContent" id = "stadiumsContent">
        <div>
            <a class="stadium popup" href="">
                <img class ="popuptext" src="../images/luzhniki.jpg" alt="">
                Luzhniki Stadium
            </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                <img class ="popuptext" src="../images/stpetersburgnew.jpg" alt="">
                Saint Petersburg Stadium 
            </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                <img class ="popuptext" src="../images/fisht.jpg" alt="">
                Fisht Stadium
             </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                <img class ="popuptext" src="../images/ekaterinburgarena.jpg" alt="">
                Ekaterinburg Arena
                </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                <img class ="popuptext" src="../images/kazan.jpg" alt="">
                Kazan Arena
                </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                <img class ="popuptext" src="../images/nizhny.jpg" alt="">
                Nizhny Novgorod Stadium
                </a>
        </div>

        <div>
            <a class="stadium popup" href="">
                <img class ="popuptext" src="../images/rostov.jpg" alt="">
                Rostov Arena 
                </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                <img class ="popuptext" src="../images/cosmos.jpg" alt="">
                Samara Arena 
                </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                <img class ="popuptext" src="../images/mordoviaarena.jpg" alt="">
            Mordovia Arena

        </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                <img class ="popuptext" src="../images/volgogradstadiumjpg.jpg" alt="">
                Volgograd Stadium 
                </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                <img class ="popuptext" src="../images/otkritie.jpg" alt="">
                Spartak Stadium
                </a>
        </div>
    </div>
    <div>
        <iframe src="https://www.google.com/maps/d/embed?mid=1NmWP0NX8dn7675nkno4z53G4sII" width="auto" height="auto"></iframe>
    </div>
</div>