<div class="stadiums" id="stadiums">
    <div class="stadiumsContent" id="stadiumsContent">
        <div>
            <a class="stadium popup" href="">
                <div class="float">
                    Luzhniki Stadium
                </div>
                <div class="float">
                    <img class="popuptext" src="../images/luzhniki.jpg" alt="">
                </div>
            </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                <div class="float">Saint Petersburg Stadium</div>
                <div class="float"><img class="popuptext" src="../images/stpetersburgnew.jpg" alt=""></div>
            </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                <div class="float">Fisht Stadium</div>
                <div class="float"><img class="popuptext" src="../images/fisht.jpg" alt=""></div>
            </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                <div class="float">Ekaterinburg Arena</div>
                <div class="float"><img class="popuptext" src="../images/ekaterinburgarena.jpg" alt=""></div>
            </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                <div class="float">Kazan Arena</div>
                <div class="float"><img class="popuptext" src="../images/kazan.jpg" alt=""></div>
            </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                <div class="float">Nizhny Novgorod Stadium</div>
                <div class="float"><img class="popuptext" src="../images/nizhny.jpg" alt=""></div>
            </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                <div class="float">Rostov Arena</div>
                <div class="float"><img class="popuptext" src="../images/rostov.jpg" alt=""></div>
            </a>
        </div>
        <div>
            <a class="stadium popup" href="">

                <div class="float">Samara Arena</div>
                <div class="float"><img class="popuptext" src="../images/cosmos.jpg" alt=""></div>
            </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                <div class="float">Mordovia Arena</div>
                <div class="float"><img class="popuptext" src="../images/mordoviaarena.jpg" alt=""></div>
            </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                <div class="float">Volgograd Stadium</div>
                <div class="float"><img class="popuptext" src="../images/volgogradstadiumjpg.jpg" alt=""></div>
            </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                <div class="float">Spartak Stadium</div>
                <div class="float"><img class="popuptext" src="../images/otkritie.jpg" alt=""></div>
            </a>
        </div>
    </div>
    <div class="stadiumsContent" id="stadiumsContent">
    </div>
</div>