<div class="stadiums" id="stadiums">
    <div class="stadiumsContent" id = "stadiumsContent">
        <div>
            <a class="stadium popup" href="">
                Luzhniki Stadium
                <img class ="popuptext" src="../images/luzhniki.jpg" alt="">
                
            </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                Saint Petersburg Stadium
                <img class ="popuptext" src="../images/stpetersburgnew.jpg" alt="">
                
            </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                Fisht Stadium
                <img class ="popuptext" src="../images/fisht.jpg" alt="">
                
             </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                Ekaterinburg Arena
                <img class ="popuptext" src="../images/ekaterinburgarena.jpg" alt="">
                
                </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                Kazan Arena
                <img class ="popuptext" src="../images/kazan.jpg" alt="">
                
                </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                Nizhny Novgorod Stadium
                <img class ="popuptext" src="../images/nizhny.jpg" alt="">
                
                </a>
        </div>

        <div>
            <a class="stadium popup" href="">
                Rostov Arena
                <img class ="popuptext" src="../images/rostov.jpg" alt="">
                 
                </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                Samara Arena
                <img class ="popuptext" src="../images/cosmos.jpg" alt="">
                 
                </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                Mordovia Arena
                <img class ="popuptext" src="../images/mordoviaarena.jpg" alt="">
            

        </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                Volgograd Stadium
                <img class ="popuptext" src="../images/volgogradstadiumjpg.jpg" alt="">
                
                </a>
        </div>
        <div>
            <a class="stadium popup" href="">
                Spartak Stadium
                <img class ="popuptext" src="../images/otkritie.jpg" alt="">

                </a>
        </div>
    </div>
    <div class="stadiumsContent" id = "stadiumsContent">

    </div>
</div>